gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
google-services.json
facebook_config.xml
key.properties
**/*.keystore
**/*.jks
.cxx/
.kotlin/
build/