name: PR - Test Bookify Flutter App

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install SQLite Package
        run: sudo apt-get -y install libsqlite3-0 libsqlite3-dev

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test
